body{
    background-color: rgb(39, 6, 70);
    font-family: 'Poppins', sans-serif;
    margin: 5px;
}
.intro-banner{
    display: flex;
    margin-bottom: 150px;
    

}
.tummy{
    color: goldenrod;
}
h1{
    font-size: 60px;
    color:white;
    padding-top: 50px;
    padding: 5%;
    font-weight: 700;
}
p{
    color: rgb(228, 219, 186);
    padding: 5%;
    padding-top: 1%;
    font-size: 20px;

}
.img-01{
    height: 720px;
}
.btn-1{
    padding: 10px 20px;
    font-size: 24px;
    margin-left: 35px;
    background-color: goldenrod;
    border-radius: 5px;
}
.item-info{
    display: flex;
    width: 90%;
    padding-left:50px;
    justify-content: space-around;
    font-size: 25px;

}
.food-cart{
    height: 10%;
    width: 30%;
}
.food-item{
    height: 100px;
    width: 100px;
    float: left;
}
h2{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
h4{
    font-size: 16px;
    color: burlywood;
}
h3{
    font-size: 16px;
    color:rgb(201, 198, 206);
}
.food-cart03{
    /* border: rgb(150, 12, 241) solid; */
    border-left:rgb(150, 12, 241) solid ;
    background-image: url(img/burgers/b3.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 200px;
    width: 350px;
    border-radius: 5px;
    padding: 10px;
}
.food-cart02{
    /* border: rgb(150, 12, 241) solid; */
    border-left:rgb(150, 12, 241) solid ;
    background-image: url(img/burgers/b2.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 200px;
    width: 350px;
    border-radius: 5px;
    padding: 10px;
}
.food-cart01{
    /* border: rgb(150, 12, 241) solid; */
    border-left:rgb(150, 12, 241) solid ;
    background-image: url(img/burgers/b1.png);

    background-repeat: no-repeat;
    background-position: right;
    height: 200px;
    width: 350px;
    border-radius: 5px;
    
    padding: 10px;
}
a{
background-color: rgb(156, 131, 246);
padding: 10px 10px;
text-decoration: none;
color: rgb(33, 6, 65);
border-radius: 10px;
font-size: 18px;
}
